.next-pagination {
  align-items: center;
  box-sizing: border-box;
  color: #4f4f4f;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  line-height: 24px;
}

.next-pagination * {
  box-sizing: inherit;
}

.next-pagination__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.next-pagination__item {
  border: 1px solid #b7b7cb;
  display: none;
  margin-right: -1px;
}

@media screen and (min-width: 37.5em) {
  .next-pagination__item {
    display: block;
  }
}

.next-pagination__item:first-child,
.next-pagination__item:last-child {
  display: block;
}

.next-pagination__item:first-child {
  border-radius: 3px 0 0 3px;
}

.next-pagination__item:last-child {
  border-radius: 0 3px 3px 0;
  margin-right: 0;
}

.next-pagination__item--hellip {
  min-width: 2.5em;
  padding: .5em;
  text-align: center;
}

.next-pagination__link {
  color: #006dcc;
  display: block;
  min-width: 2.5em;
  outline: 1px solid transparent;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  transition: outline-color .2s ease-in-out;
}

.next-pagination__link:hover {
  outline: 1px solid currentColor;
  position: relative;
  z-index: 1;
}

.next-pagination__link--current {
  background: #f0f0eb;
  pointer-events: none;
}

.next-pagination__link--disabled {
  color: inherit;
  pointer-events: none;
}

.next-pagination__link svg {
  display: block;
}

.next-pagination__form {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.next-pagination__label {
  flex: 0 0 auto;
  margin-left: .5em;
}

.next-pagination__select {
  background-color: #fff;
  border: 1px solid #b7b7cb;
  border-radius: 3px;
  color: inherit;
  display: block;
  font-size: 1em;
  height: calc(26px + 1em);
  line-height: 24px;
  padding: .5em;
  text-overflow: ellipsis;
  width: 100%;
}

.next-pagination__select::-ms-expand {
  display: none;
}

.next-pagination__submit {
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

