.next-pagination {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  line-height: 24px;
  margin-top: 1em;
}

.next-pagination * {
  box-sizing: inherit;
}

.next-pagination__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.next-pagination__item {
  border: 1px solid;
  border-width: 1px 0 1px 1px;
  display: none;
}

@media screen and (min-width: 37.5em) {
  .next-pagination__item {
    display: block;
  }
}

.next-pagination__item:first-child,
.next-pagination__item:last-child {
  display: block;
}

.next-pagination__item:first-child {
  border-radius: 4px 0 0 4px;
}

.next-pagination__item:last-child {
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
}

.next-pagination__item--hellip {
  min-width: 2.5em;
  padding: .5em;
  text-align: center;
}

.next-pagination__link {
  display: block;
  min-width: 2.5em;
  outline: 1px solid transparent;
  padding: .5em;
  text-align: center;
  transition: outline-color .2s ease-in-out;
}

.next-pagination__link:hover {
  outline: 1px solid currentColor;
}

.next-pagination__link--current {
  background: rgba(0, 0, 0, 0.05);
  pointer-events: none;
}

.next-pagination__link--disabled {
  color: rgba(0, 0, 0, 0.75);
  pointer-events: none;
}

.next-pagination__link svg {
  display: block;
}

.next-pagination__form {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.next-pagination__label {
  flex: 0 0 auto;
  margin-left: .5em;
}

.next-pagination__select {
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
  display: block;
  font-size: 1em;
  height: calc(26px + 1em);
  line-height: 24px;
  padding: .5em;
  text-overflow: ellipsis;
  width: 100%;
}

.next-pagination__select::-ms-expand {
  display: none;
}

.next-pagination__submit {
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

